.myorder_container {
  margin: 10px 10%;
  min-height: calc(100vh - 320px);
}
.new_order{
    display: flex;
    justify-content: center;
    margin: 15px;
}


.orderList_card {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  padding: 5px 8px;
}
.orderList_card:hover {
  /* background-color: rgba(255,255,255,0.4); */
  background-color: rgba(223, 228, 230, 0.575);
}

.orderList_card_title {
    font-weight: 700;
    border: 2px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.title_search_wrapper{
    display: flex;
}
.orderList_card_title input{
    outline: none;
    border: none;
    width: 100%;
}
