
.nav{
    background-color: rgb(12, 119, 155);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}

.nav_btns{
    display: flex;
}
.nav_btns div{
    margin-left: 10px;
}
.nav_btns .btn {
    color: white;
    text-decoration: none;
}
.nav_btns .btn:hover{
    text-decoration: underline;
}

.nav_btns .btn_active{
    text-decoration: underline;
    text-decoration-color: rgb(20, 243, 20);
    color: white;
}

