.article_input_container{
    margin: 5px 10%;
    min-height: calc(100vh - 320px);
}
/* style={{ height:"600px", width:"400px",overflow:"hidden",fontSize:"9px"}} */
.previewContainer{
    max-height: 550px;
    max-width: 350px;
    font-size: 9px;
    overflow-y: scroll;
    margin: 5px 3px 5px 5px;
}

.previewContainer::-webkit-scrollbar{
    width: 8px;
    border-radius: 20px;
}
.previewContainer::-webkit-scrollbar-track{
    background: rgba(211, 210, 208, 0.651);
}
.previewContainer::-webkit-scrollbar-thumb{
    background-color: rgb(12, 119, 155);    
    border-radius: 20px;       
    border: 2px solid rgba(211, 210, 208, 0.651);
}